@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
  

body {
  background-color: #34495e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
  padding: 0;
}

.container {
  background-color: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;
  border: 2px solid #70e6f3;
  border-radius: 10px;
  overflow: hidden;
}

.city-input {
  flex: 1;
  border: none;
  height: 30px;
  font-size: 16px;
  padding: 10px;
}

.city-input:focus {
  outline: none;
}


.search-icon {
  padding: 10px;
  height: 30px;
  cursor: pointer;
}

.search-icon img {
  object-fit: contain;
  height: 15px;
  width: 15px;
  margin-top: -5px;
}

.clear {
  height: 150px;
  width: 150px;
}

.image {
  text-align: center;
  margin: 10px 0;
}

.temp,
.location,
.country {
  margin-top: 5px;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  color: #333;
}

.temp {
  font-weight: 500;
}

.location {
  color: #ffbc00;
  font-weight: 400;
  font-size: 40px;
}

.country {
  color:#888;
  font-size: 18px;
  font-weight: 500;
}

.cord {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin-top: 10px;
}

.cord div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cord div span {
  font-size: 14px;
}

.humidity-percentage,
.wind-percentage,
.cord div span:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #666;
  padding-top: 5px;
}

.icon {
  height: 80px;
  width: 80px;
}

.data-container {
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element {
  text-align: center;
}

.text {
  font-size: 12px;
  color: #888;
}

p {
  text-align: center;
  font-size: 12px;
  color: #888
}

p span {
  color: #333;
}

.loading-message,
.error-message,
.city-not-found {
margin-top: 10px;
color: #888;
text-align: center;
font-size: 25px;
}






